* {
    box-sizing: border-box;
}

html, body{
	text-align: justify-all;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	height: auto;
	overflow-x: hidden;
	font-size: 16px;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

.content{
	margin-top: 60px;
	padding-right: 20px;
}

.description{
	margin-top: 60px;
	margin-right: 5px;
	padding: 10px;
}

#login-box .ml-auto{
	margin-left: auto !important;
}

#login-box .mr-auto{
	margin-right: auto !important;
}

#login-box{
	vertical-align: middle;
}

.box{
	border-radius: 20px;
	padding: 20px;
	width: 490px;
	height: auto;
	color: #FBF5F3;
	margin: 10px;
	position: inherit;
}

.box:first-child{
	background-color: #59B395;	
}

.box:nth-child(2){
	background-color: #499B99;	
}

.box:last-child{
	background-color: #6E2B94;	
}
/*
#total-contents{
	padding-left: 20px;
	padding-right: 20px;
	font-size: 15px;
}

.dropdown-container {
    display: none;
    background-color: inherit;
    padding-left: 8px;
}

.dropdown-container a{
	font-size: 15px;
}
*/
.table-responsive{
	padding: 10px;
}
