.index-table .table tbody th, td{
	border-right: solid 1px #9DA1A1;
}

.index-table .table tbody th:first-child{
	border-right: solid 1px #9DA1A1;
}

.index-table .table tbody th, td:last-child{
	border-right: transparent;
}

.index-table .table tbody td:hover{	
	/*background-color: #DD6D3C;*/
}

#view{
	display: none;
}