/*header{
	color: #49111C;
	background-color: #FFF;
}

.sidenav{
	color: #FBF5F3;
	background-color: #49111C;
}

.active{
	background-color: #FC7A57;
	border-left: 4px solid #FF0022;
}

.sidenav a, .dropdown-btn{
	color: #FBF5F3;
}

.sidenav a:hover, .dropdown-btn:hover{
	color: #1A936F;
}
*/
.index-table .table tbody th, td{
	border-right: solid 1px #9DA1A1;
}

.index-table .table tbody th:first-child{
	border-right: solid 1px #9DA1A1;
}

.index-table .table tbody th, td:last-child{
	border-right: transparent;
}

.index-table .table tbody td:hover{	
	background-color: #DD6D3C;
}

#view{
	display: none;
}